<form method="POST" action="/puppy">
    <p>Puppy Name: <input type="text" id="name"></p>
    <p>Puppy Breed: <input type="text" id="breed"></p>
    <p>Puppy Age: <input type="text" id="age"></p>
    <input type="submit" id="submit">
</form>
