<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>List A New Puppy For Adoption!</h1>
    <form method="POST" action="/puppy">
      <p>New Puppy: </p>
      <input type="text" name="create_puppy">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
  