<form method="POST" action="/puppy">
    <p><input type="text" id="name">Puppy Name: </p>
    <p><input type="text" id="breed">Puppy Breed: </p>
    <p><input type="text" id="age">Puppy Age: </p>
    <input type="submit" id="submit">
</form>
