<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <form method="POST" action="/puppy">
      <input type="submit" id="submit">create puppy</input>
      
